/*Table Styles*/

#contactCity {
    width: 200px;
    float: left;
}

#states{
    float: left;
    width: 80px;
}

#contactZipCode {
    width: 200px;
    float: left;
}

#cellPhone {
    width: 300px;
}

#otherPhone {
    width: 300px;
}

.error {
    color: red;
    margin-left: 5%;
    width: 100%;
}