/*
Just Ok Team
Stylesheet made for the filters page.
*/
/*html {*/
/*margin-top: 5%;*/
/*margin-left: 25%;*/
/*text-align: center;*/
/*}*/

h1 {
    display: table-header-group;
}

th {
    border-bottom-color: transparent !important;
}

.col-md-1 form-group {
    position: absolute;
    left: 0%;
    bottom: 0%;
}

#categoryDiv {
    height: 200px;
}

/*#filter {*/
/*position: absolute;*/
/*left: 0%;*/
/*bottom: 0%;*/
/*}*/

/*date*/
#from_date, #to_date {
    left: 0%;
    bottom: 0%;
}

.btn-success {
    margin: auto !important;
    display: block !important;
}

/* Force drop-down arrow to display constantly for combo-box */
input::-webkit-calendar-picker-indicator {
    opacity: 100;
}

/*.td1{*/
/*border-right-color: transparent !important;*/
/*}*/

/*td #td-left-col{*/
/*width: 50px !important;*/
/*}*/

div#filter-div.row {
    margin-top: 5%;
    justify-content: center;
}

.border{
    padding-top: 2%;
    padding-bottom: 1%;
}